/* .react-flow__node-custom {
  background: white;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 2px 5px;
  font-weight: 700;
} */

.react-flow__handle.target {
  top: 50%;
  pointer-events: none;
  opacity: 0;
}

.react-flow__handle.source {
  top: 0;
  left: 0;
  transform: none;
  background: #55f69b;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  border: none;
}
